* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.luna-section {
  background-color: #fff;
}
.luna-section .luna-container {
  text-align: center;
  padding: 2rem 0 1.65333333rem;
}
.luna-section .luna-container .luna-logo {
  display: inline-block;
  width: 2.66666667rem;
  height: 2.66666667rem;
}
.luna-section .luna-container .luna-logo .logo-image {
  display: block;
  text-align: center;
  width: 100%;
}
.luna-section .luna-container .luna-name-input {
  margin-top: 1.89333333rem;
  padding: 0 0.4rem;
  position: relative;
  height: 0.90666667rem;
}
.luna-section .luna-container .luna-name-input .name-image {
  display: inline-block;
  width: 0.4rem;
  height: 0.36rem;
  vertical-align: top;
  font-size: 0;
}
.luna-section .luna-container .luna-name-input .name-image .name-map {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.luna-section .luna-container .luna-name-input .name-input {
  display: inline-block;
  height: 0.4rem;
  width: 8rem;
  border: none;
  vertical-align: top;
  outline: none;
  font-size: 0.37333333rem;
}
.luna-section .luna-container .luna-name-input:before {
  content: '';
  display: inline-block;
  width: 9.2rem;
  height: 0.02666667rem;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0.4rem;
}
.luna-section .luna-container .luna-code-input {
  margin-top: 0.49333333rem;
  padding: 0 0.4rem;
  position: relative;
  height: 0.90666667rem;
}
.luna-section .luna-container .luna-code-input .luna-code-image {
  display: inline-block;
  width: 0.4rem;
  height: 0.50666667rem;
  vertical-align: top;
  font-size: 0;
}
.luna-section .luna-container .luna-code-input .luna-code-image .luna-code-map {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.luna-section .luna-container .luna-code-input .code-input {
  display: inline-block;
  height: 0.4rem;
  width: 8rem;
  border: none;
  vertical-align: top;
  outline: none;
  font-size: 0.37333333rem;
}
.luna-section .luna-container .luna-code-input:before {
  content: '';
  display: inline-block;
  width: 9.2rem;
  height: 0.02666667rem;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 0.4rem;
}
.luna-section .luna-container .show .luna-input-slip {
  text-align: left;
  padding-left: 0.4rem;
  margin-top: 0.4rem;
  display: block;
  font-size: 0;
}
.luna-section .luna-container .show .luna-input-slip .luna-slip-image {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
}
.luna-section .luna-container .show .luna-input-slip .luna-slip-image .luna-slip-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.luna-section .luna-container .show .luna-input-slip .slip-title {
  display: inline-block;
  font-size: 0.37333333rem;
  color: #ff1d25;
  margin-left: 0.10666667rem;
}
.luna-section .luna-container .vanish {
  height: 0.32rem;
  margin-top: 0.4rem;
}
.luna-section .luna-container .vanish .luna-input-slip {
  display: none;
}
.luna-section .luna-container .luna-enter {
  margin-top: 2.26666667rem;
  width: 9.2rem;
  height: 1.17333333rem;
  background-color: #000;
  display: inline-block;
  border-radius: 5px;
  font-size: 0.42666667rem;
  color: #fff;
  outline: none;
}
